body {
    text-align: center;
    font-family: 'Baloo Thambi', cursive;
}

h1 {
    color: #5ae86b;
    text-shadow: 1px 1px 5px #333;
}

#choose-character, #end-screen {
    color: #e25cb6;
    width: 600px;
    height: 520px;
    padding: 10px;
    border: 5px solid #e5c469;
    border-radius: 10px;
    background-color: #eadd64;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#choose-character {
    top: 147px;
}

#fireworks {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 20;
}

#character-winner {
    position: relative;
    z-index: 30;
}

button#start-game,  button#restart-game{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #5ae86b;
    border: 1px solid #49b255;
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 9px;
}

#end-screen {
    display: none;
    top: 135px;
}
